footer{
    padding-top: 45px ;
    padding-left: 20px;
    padding-right:20px ;
    padding-bottom: 10px;
    color: #fff;
    background-color:#2d2652;
    
    bottom: 0;
    left: 0;
    width: 100%;
  }
  .text{
    text-align:center;
    font-size:25px;
    
  }
  