.main-head {
    display: flex;
    justify-content: space-around;

    
}
.search-box {
    display: flex;
    justify-content: space-around;
    flex: 1 1 0%;
}
 input {
        appearance: none;
        background: none;
        outline: none;
        border: none;

        display: block;
        width: 100%;
        max-width: 400px;
        padding: 16px;
        border-radius: 999px;
        background-color: #EEE;

        transition: 0.4s;
 }
      
 input::placeholder {
            color: #888;
        }

       
 input:focus, input:valid {
            background-color: #313131;
            color: #FFF;  
}

main {
    flex: 1 1 0%;
    padding: 0px 16px;
}
.anime-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 32px;
    margin: 32px -8px 0px;
}    
