aside {
    flex: 1 1 250px;
    max-width: 250px;
    padding-right: 16px;
}

nav {padding-left: 16px;
    padding-right: 16px;
}
        


h3 { color: #313131;
    font-size: 24px;
    margin-bottom: 16px;
}

a {
    display: block;
    padding: 8px 16px;
    text-align: left;

    color: #888;
    font-size: 16px;
    margin-bottom: 16px;

    background-color: #EEE;
    border-radius: 999px;
    text-decoration: none;

    transition: 0.4s;
}        

a:hover {
    background-color: #313131;
    color: #AAA;
               
}